<html>

<head>
    <title>Assignment 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Linking the Script file -->
    <link rel=stylesheet href="assets/stylesheet.css">
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!--Angular scripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
</head>

<body ng-app>
    <div class="container">
        <h2 align="center">Welcome to Chat</h2>
    </div>
    <div id="nickWrap" align="center" >
        <!-- <p align="center">Enter User Name</p> -->
        <p id="nickError"></p>
        <form id="setNick" class="form-inline">
            <input type="text" class="form-control" id="nickname"  size="35" name="" value="" placeholder="Enter User Name">
            <input type="submit" name="" id="EnterName" class="btn btn-primary" value="Enter">
        </form>
        <form>
            <a href="http://localhost:3000/" class="btn btn-default" align="left" role="button">Back</a>
        </form>
    </div>
    <div id="contentWrap" class="container" >
        <div id="chatWrap" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8" id="chat"></div>
                <div class="col-xs-6 col-md-4" id="time"></div>
            </div>
            <form id="send-message" class="form-inline">
                <div class="field">
                    <input class="form-control" size="160" placeholder="Enter Message" id="message"></input>
                    <input type="submit" onclick="myFunction()" class="btn btn-success" value="Send"></input>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="users" class="lead col-xs-12 col-sm-6 col-md-8">
            </div>
            <form class="col-xs-4 col-md-2">
                <a href="http://localhost:3000/" class="btn btn-default" role="button">Back</a>
            </form>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    jQuery(function($) {
        var socket = io.connect();
        var $nickForm = $('#setNick');
        var $nickError = $('#nickError');
        var $nickBox = $('#nickname');
        var $users = $('#users');
        var $messageForm = $('#send-message');
        var $messageBox = $('#message');
        var $chat = $('#chat');
        var $time = $('#time');

        document.getElementById("nickname").focus();
        document.getElementById("EnterName").disabled = false;

        function btntest_onclick() {
            window.location.href = "http://www.google.com";
        }


        $nickForm.submit(function(e) {
            e.preventDefault();
            socket.emit('new user', $nickBox.val(), function(data) {
                if (data) {
                    $('#nickWrap').hide();
                    $('#contentWrap').show();
                    document.getElementById("message").focus();
                } else {
                    $nickError.html('That is Already Taken');
                };
            });
            nickBox.val('');
        });

        socket.on('usernames', function(data) {
            var html = '';
            for (var i = 0; i < data.length; i++) {
                html += data[i] + '<br/>'
            }
            $users.html('Users List : ' + html);
        });

        $messageForm.submit(function(e) {
            e.preventDefault();
            socket.emit('send message', $messageBox.val());
            $messageBox.val('');
            document.getElementById("message").focus();
        });

        socket.on('load old msgs', function(docs) {
            for (var i = docs.length - 1; i >= 0; i--) {
                displayMessage(docs[i]);
            }
        });


        socket.on('new message', function(data) {
            displayMessage(data);
        });

        function displayMessage(data) {
            var date = new Date();
            $chat.append('<b>' + data.nick + ': </b>' + data.msg + '<br/>');
            $time.append('<i>' + date + '</i>' + '<br/>');
        }
    });
    </script>
</body>

</html>
