<div>
    <div>
        <form name="myForm" class="form-inline" ng-submit="submitPatientData()">
            <h2>Enter Details</h2>
            <table class="table">
                <tbody>
                    <tr class="warning">
                        <td align="right">First Name</td>

                        <td>
                            <input required class="form-control" type="text" ng-model="patient.firstName" ng-pattren="\b[A-Z]+[0-9]+\b"/>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td align="right">Last Name</td>

                        <td>
                            <input required class="form-control" type="text" ng-model="patient.lastName" ng-pattren="\b[A-Z]+[0-9]+\b" />
                        </td>
                    </tr>
                    <tr class="warning">
                        <td align="right">Phone Number</td>

                        <td>
                            <input type="text" class="form-control" name="phoneNo" ng-model="patient.phoneNo" ng-pattren="/[0-9]{10}/" ng-minlength="10" ng-maxlength="10" />
                            <span class="error" style="color:red;" ng-show="myForm.phoneNo.$error.minlength">Please Enter 10 Digit Phone Number, entered value is less than 10 digts.</span>
                            <span class="error" style="color:red;" ng-show="myForm.phoneNo.$error.maxlength">Please Enter 10 Digit Phone Number, entered value is more than 10 digts.</span>
                            <br>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td align="right">Last Visit Date</td>

                        <td>
                            <input required class="form-control" type="text" ng-model="patient.lastVisitDate" />
                        </td>
                    </tr>
                    <tr  class="warning">
                        <td align="right">Status</td>

                        <td >
                            <input type="radio" ng-model="patient.Status" value="Active"> Active</input>
                            <input type="radio" ng-model="patient.Status" value="Inactive"> In Active</input>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-success" type="submit">Submit Data</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>
