<h2 align="center">Patient List</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Last Visit Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success" ng-repeat="patient in patients | orderBy:lastName:false">
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.phoneNo}}</td>
            <td>{{patient.lastVisitDate}}</td>
            <td>{{patient.Status}}</td>
            <td>
                <button class="btn btn-warning" ng-click="editPatient($index)">Edit</button>
                <button class="btn btn-danger" ng-click="deletePatient($index)">Delete</button>
                <a class="btn btn-default" href="/chat">Chat</a>
                <!--http://localhost:4000/-->
            </td>
        </tr>
    </tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a class="btn btn-default" href="#/add">Add Patient</a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>

        </td>
    </tr>
</table>
